@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);

#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#menu-0 .mbr-navbar__hamburger {
  color: #000000;
}
#menu-0 .mbr-brand__name a {
  font-family: 'Oswald', sans-serif;
}

#menu-5 .mbr-brand__name {
  font-size: 16px;
}
#menu-5.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#menu-5 .mbr-navbar__hamburger {
  color: #000000;
}
#menu-5 .mbr-brand__name a {
  font-family: 'Oswald', sans-serif;
}

#menu-11 .mbr-brand__name {
  font-size: 16px;
}
#menu-11.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#menu-11 .mbr-navbar__hamburger {
  color: #000000;
}
#menu-11 .mbr-brand__name a {
  font-family: 'Oswald', sans-serif;
}

#menu-14 .mbr-brand__name {
  font-size: 16px;
}
#menu-14.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#menu-14 .mbr-navbar__hamburger {
  color: #000000;
}
#menu-14 .mbr-brand__name a {
  font-family: 'Oswald', sans-serif;
}

#menu-17 .mbr-brand__name {
  font-size: 16px;
}
#menu-17.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-17 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-17 .mbr-brand__name a {
  font-family: 'Oswald', sans-serif;
}

#menu-16 .mbr-brand__name {
  font-size: 16px;
}
#menu-16.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#menu-16 .mbr-navbar__hamburger {
  color: #000000;
}
#menu-16 .mbr-brand__name a {
  font-family: 'Oswald', sans-serif;
}
#header3-22 H3 {
  color: #252525;
}
#image2-24 SMALL {
  font-size: 8px;
  color: #7c706b;
}
